/* General Body Styling */
body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

/* Navigation Bar */
nav {
  background-color: #161616;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #2c3e50;
  border-radius: 5px;
}

/* Home Page */
h1 {
  text-align: center;
  color: #f0c14b;
  margin-top: 20px;
  font-size: 2.5em;
}

.content {
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.flex-item img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: auto;
}

.flex-item h2 {
  color: #f0c14b;
}

/* Product Page */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-item {
  background-color: #2c3e50;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.product-item img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  height: auto;
}

.product-item h2 {
  color: #f0c14b;
}

/* Contact
