/* General Body Styling */
body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

/* Navigation Bar */
nav {
  background-color: #161616;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #2c3e50;
  border-radius: 5px;
}

/* Product Page */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-item {
  background-color: #2c3e50;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.product-item img {
  width: 80%;  /* Reduced image size */
  max-width: 300px; /* Ensures the image doesn't exceed a certain width */
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Added more shadow */
  height: auto;
  margin-bottom: 15px;  /* Space between image and text */
}

.product-item h2 {
  color: #f0c14b;
}

/* Other Styles for Home Page or Additional Elements */
h1 {
  text-align: center;
  color: #f0c14b;
  margin-top: 20px;
  font-size: 2.5em;
}

.content {
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.flex-item img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: auto;
}

.flex-item h2 {
  color: #f0c14b;
}


/* Contact Details Box */
.contact-details-box {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.contact-details-box h2 {
  color: #f0c14b;
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-details-box p {
  font-size: 1.2em;
  margin: 10px 0;
}


/* Flex Container Styling */
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Flex Item Styling */
.flex-item {
  width: 30%; /* Adjust the width of each item */
  text-align: center;
  margin-bottom: 20px;
}

.flex-item img {
  width: 80%;  /* Reduce the width of the images */
  max-width: 300px;  /* Set a max width to ensure the image doesn't become too large */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
