body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

nav {
  background-color: #161616;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

.nav-logo a {
  font-size: 1.8em;
  font-weight: bold;
  color: #f0c14b; 
  text-decoration: none;
  padding-right: 20px;
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #2c3e50;
  border-radius: 5px;
}


.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.flex-item img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: auto;
}

.flex-item h2 {
  color: #f0c14b;
}

h1 {
  text-align: center;
  color: #f0c14b;
  margin-top: 20px;
  font-size: 2.5em;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-item {
  background-color: #2c3e50;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.product-item img {
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  height: auto;
  margin-bottom: 15px;
}

.product-item h2 {
  color: #f0c14b;
}


.contact-details-box {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.contact-details-box h2 {
  color: #f0c14b;
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-details-box p {
  font-size: 1.2em;
  margin: 10px 0;
}


footer {
  background-color: #333;
  color: white;
  padding: 40px 0;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  flex: 1;
  padding: 10px;
}

.footer-links {
  flex: 1;
  text-align: center;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-links ul li a:hover {
  color: #f0c808;
}

.footer-social {
  flex: 1;
  text-align: right;
}

.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-social ul li {
  display: inline-block;
  margin-left: 15px;
}

.footer-social ul li a img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}

.footer-social ul li a img:hover {
  transform: scale(1.1);
}


.flex-item img, .product-item img {
  width: 250px;
  height: 250px; 
  object-fit: cover; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
